:root{
    --branding-color: #6c63ff;
    --secondary-color: #f9f7fe;
}

h1 h2 h3 h4 h5 h6 {
    font-family: "Playfair Display", serif;
}

p {
font-family: "Poppins", sans-serif;
line-height: 30px;
}

h1 {
    font-size: 96px;
    line-height: 1.5;
}

.intro {
    background-color: var(--secondary-color);
    text-align: center;
    padding: 160px 20px;
}

.intro p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: #272142;
}

.intro h2 {
    font-family:"Poppins", sans-serif;
    font-weight: normal;
    line-height: 2;
    font-size: 26px;
}

h2 {
    font-size: 64px;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 4px;
    color: white; 
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}

.btn-yogurt {
    color: var(--branding-color);
    border: solid 1px var(--branding-color);
    border-radius: 4px;
    font-size: 18px;
    line-height: 27px;
    padding: 12px 20px;
}

.p-description {
    padding: 120px 60px;
}

@media (max-width: 960px){
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 42px;
    }
    .intro{
        padding: 80px 10px;
    }
    .p-description{
        padding: 0;
        text-align: center;
    }
}